body {
	margin: 20px 50px;
	background-color: #8D8B8B;
}

#header {
	width: 100%;
	height: 200px;
	background-color: #17BEC8;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}


#navigation {
	margin-top: 30px;
}

.nav {
	cursor: pointer;
}

.navintro {
	cursor: pointer;
}

.title {
	text-align: center;
	margin-top: 25px;
	color: yellow;
}

.contact {
	text-align: center;
	list-style-type: none;
}

.social {
	list-style-type: none;
	cursor: pointer;
}

.contact li h2 {
	cursor: pointer;
	margin-top:60px;
}
















#team {
	background-color: #6516C6;
	width: 100%;
	height: 1200px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

div.person {
	border: 1px solid black;
}

