body {
	background-color: #999999;
	margin-top: 20px;
}


li {
	list-style: none;
	list-style-position: outside;
	width: 150px;
	margin: 1px 0 1px 50px;
	cursor: pointer;
}

span {
	background: #DB0808;
	display: block;
	text-decoration: none;
	color: black;
	padding: 1px 0 1px 0;
	border: 1px solid black;
	margin-bottom: 1px;
	text-align: center;
	font-size: 24px;
}

a:hover {
	background: #F77171;
	transition: background .1s ease-in-out;
}

.hide::before {
    content: "+";
}
.show::before {
    content: "-";
}