/*div#box {
	width: 50%;
	margin: auto;
	border: 3px dotted green;
	text-align: center; 
}

div#buttons {
	width: 50%;
	margin: auto;
}
*/


div.content {
	background-color: yellow;
	width: 400px;
	padding: 2em;
	position: relative;
}