#wrapper {
	background-color: #49B549;
	display: grid;
	grid-template-areas: 
	"header header header"
	"nav main main"
	;
	grid-template-rows: 200px 800px;
	grid-auto-columns: 1fr 1fr 1fr;
	grid-gap: 5px;
}

#header {
	background-color: #48BAE4;
	grid-area: header;
	display: flex;
	align-items: center;
}

#menulogo {
	background-color: #48BAE4;
	grid-area: menulogo;
}

#nav {
	background-color: #48BAE4;
	grid-area: nav;
	display: flex;
	align-content: center;
	flex-direction: column;

}

#main {
	background-color: #48BAE4;
	grid-area: main;
	padding: 20px 30px;
	display: flex;
	overflow-y: scroll;
}

#footer {
	background-color: #48BAE4;
	grid-area: footer;
}


							/*NAV BUTTON*/

#logIn {
	font-size: 40px;
	border-radius: 5px;
	color: #0C50FE;
	box-shadow: 1px 1px #040404;
	background-color: #ABABAB;
	display: flex;
	margin: 75px auto;
}

#logIn:hover {
	background-color: #EAE6E6;
	transition: background-color 1s;
}

#registr {
	font-size: 40px;
	border-radius: 5px;
	color: #0C50FE;
	box-shadow: 1px 1px #040404;
	background-color: #ABABAB;
	display: flex;
	margin: 20px auto;
}

#registr:hover {
	background-color: #EAE6E6;
	transition: background-color 1s;
}


							/*REGISTRATION FORM*/


#inputform {
	margin: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
}


#inputform label {
	display: block;
	text-align: center;

}


#inputform input {
	display: block;
	margin: 2px;
}

								/*PRODUCT TEMPLATE*/

img {
	height: 300px;
	border-radius: 5px;

}								

.productBlock {
	display: inline-block;
}

.productBlock span {
	display: block;
	font-size: 20px;
}

.productBlock .form-group {
	margin-top: 10px;
}


								/* MENU */

.menuwrapper {
	margin-top: 50px;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 36px;
}

.menu li {
	cursor: pointer;
}

.menu li:hover {
	background-color: #06D7F0;
	transition: background-color 1s;
}


#createProduct {
	display: flex;
	flex-direction: column;
}

#createProduct label {
	font-size: 24px;
}


#changeProduct {
	display: flex;
	flex-direction: column;
}

#changeProduct label {
	font-size: 24px;
}



#headerTitle {
	font-size: 80px;
	margin: 0 auto;
}